.pages {
  overflow: auto;
}

.page {
  width: 210mm;
  height: 297mm;
  margin: 1rem auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  place-items: center;
  padding: 2mm;
}

@media print {
  .pages {
    overflow: initial;
  }
  
  .page {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .pages {
    overflow-x: auto;
  }
}
