* {
  box-sizing: border-box;
}

:root {
  font-size: 7pt;
}

body {
  margin: 0;
  background-color: grey;
  font-family: sans-serif;
}

.page {
  width: 210mm;
  height: 297mm;
  margin: 1rem auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  padding: 2mm;
}

.card {
  width: 63mm;
  height: 88mm;
  border: 1px solid black;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  overflow: hidden;
}

img.card {
  padding: 0;
}

.card p {
  margin: 0;
}

.card .card-name {
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.card .card-type {
  text-align: center;
  font-style: italic;
}

.card .card-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.card .card-tags > div {
  background-color: lightgrey;
  font-size: 0.9rem;
  padding: 0.2rem;
}

.card .card-details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.2rem;
  font-size: 0.9rem;
}

.card .card-detail-key {
  font-weight: bold;
}

.card .card-detail-key::after {
  content: ":";
}

@media print {
  .page {
    margin: 0;
  }
}