* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: grey;
}

.page {
  width: 210mm;
  height: 297mm;
  margin: 1rem auto;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 2mm;
}

.card {
  width: 63mm;
  height: 88mm;
  border: 1px solid black;
  background-color: red;
}

@media print {
  .page {
    margin: 0;
  }
}