.radio {
  font-size: var(--input-font-size);
  display: flex;
}

.radio input {
  display: none;
}

.radio label {
  background-color: var(--input-background-colour);
  padding: var(--input-padding);
  border: var(--input-border);
  border-right-width: 0;
  cursor: pointer;
}

.radio label:first-of-type {
  border-top-left-radius: var(--input-border-radius);
  border-bottom-left-radius: var(--input-border-radius);
}

.radio label:last-of-type {
  border-top-right-radius: var(--input-border-radius);
  border-bottom-right-radius: var(--input-border-radius);
  border-right: var(--input-border);
}

.radio label:hover {
  box-shadow: var(--hovered-box-shadow);
}

.radio input:checked + label {
  background-color: var(--input-selected-background-colour);
}
