.card {
  width: 63mm;
  height: 88mm;
  border: 1mm double darkslategrey;
  border-radius: 3mm;
  padding: 2mm;
  display: flex;
  flex-direction: column;
  gap: 1mm;
  overflow: hidden;
  font-size: 8pt;
}

@media screen {
  .card[selected] {
    border-color: blue;
  }
}

.card p {
  margin: 0;
}

.card .card-name {
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.card .card-type {
  text-align: center;
  font-style: italic;
}

.card .card-name[hidden], .card .card-type[hidden] {
  display: none;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 0 20px blue;
}
