.card-editor {
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.card-editor .with-selected-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-editor .without-selected-card {
  text-align: center;
}

.card-editor[card-editor-view_card-selected] .without-selected-card {
  display: none;
}

.card-editor:not([card-editor-view_card-selected]) .with-selected-card {
  display: none;
}

.card-editor .with-selected-card .sections {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-editor .with-selected-card .sections > div {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid black;
}

.card-editor .with-selected-card .sections .card-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-editor .with-selected-card .sections .card-text textarea {
  width: 100%;
  resize: vertical;
}

.card-editor .with-selected-card .section-adder {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 1fr auto;
}

.card-editor .with-selected-card .input-container {
  display: flex;
  flex-direction: column;
}
